.track-avatar
	float  left
	height 64px
	width  64px
	
.track-info
	margin-left 74px
	
	& > h3
		font-size 18px
		margin    0
		
	& > p
		margin 0
	
.track-controls
	position absolute
	right    0
	top      24px